* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
/* Home Page*/
.body-container {
  text-align: center;
  height: 100%;
}

.home-header {
  min-height: 16rem;
/*   background-image: linear-gradient(
    rgba(106, 228, 255, 0.8),
    rgba(102, 167, 253, 0.233)
  ); */
  background-color: rgb(10, 10, 35);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.header-title {
  text-align: center;
  width: 100%;
  z-index: 1;
}

.header-title-wrap {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

.header-title h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(34, 34, 34, 0.6);
  margin-bottom: 1rem;
}

.header-title h4 {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 0;
}

.posts-container {
  font-family: "Work Sans", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 40px;
}
@media screen and (min-width: 675px) {
  .posts-container {
    margin: 0 3rem;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(2fr, minmax(0, 1fr));
    grid-column-gap: 2rem;
  }
}
/* @media screen and (max-width: 835px) {
  .posts-container {
    margin: 0 auto;
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: 3fr;
    grid-column-gap: 2rem;
  }
} */
@media screen and (max-width: 1300px) {
  .posts-container {
    margin: 0 4rem;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(2fr, minmax(0, 1fr));
  }
}
.post-card {
  background-color: rgba(246, 248, 248, 0.9);
  box-shadow: 0 0 0 0, 0 8px 16px rgba(20, 20, 20, 0.8);
  border-radius: 6px;
  color: rgba(34, 34, 34, 0.95);
  padding: 1rem;
  transition: transform 0.2s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.post-card:hover {
  transform: translateY(-5px);
}

.post-card-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.post-card-content {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.6;
  flex-grow: 1;
  margin-bottom: 1rem;
}

.post-card-date {
  text-align: right;
  color: gray;
  font-size: 0.9rem;
  margin-top: auto;
}

/* Individual Post Page*/
.single-post-container {
  font-family: "Work Sans", sans-serif;
  max-width: 1200px;
  margin: 0.5rem auto;
  padding: 0 1.5rem;
}
.post-page {
  background-color: rgba(246, 248, 248, 0.9);
  box-shadow: 0 0 0 0, 0 8px 16px rgba(20, 20, 20, 0.8);
  border-radius: 3px;
  color: rgba(34, 34, 34, 0.95);
  padding: 1rem 2rem;
  margin-bottom: 4rem;
}
.post-date {
  margin: 0;
}
.post-author {
  margin-top: 1rem;
  color: gray;
}
.post-content {
  margin-bottom: 1rem;
}
/* Comments Section of Post Page */
/* .comments-container {
  margin: 2rem;
  width: 50lvw;
  margin-left: auto;
  margin-right: auto;
} */
/* .new-comment-no-user{
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 1rem;
}
.new-comment-no-user p{
  text-align: left;
  display: block;
  text-decoration: none;
} */
/* .new-comment-login-link{
  font-style: normal;
  color: rgb(97, 218, 251);
  text-decoration: none;
}
.new-comment-login-link:hover{
  color: rgb(55, 55, 255);
} */
/* .new-comment {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.new-comment-title {
  text-align: left;
} */
/* #comment-input{
  display: block;
  width: 100%;
  height: 4rem;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  opacity: 0.54;
  font-family: inherit;
  font-size: 1rem;
}
#comment-input::placeholder{
  color:rgb(217, 220, 231);
} */
/* .new-comment-btn-container {
  display: flex;
  gap: 0.5rem;
} */
/* .new-comment-btn{
  margin-bottom: .5rem;
  color: #fff;
} */
/* .new-comment-btn:disabled {
  cursor: not-allowed;
} */
/* .comments-section{
  width: 50lvw;
  
} */
/* .comment-card{
  width: 50lvw;
  margin-left: auto;
  margin-right: auto;
  background-color:  rgba(246, 248, 248, 0.9);
  box-shadow: 0 0 0 0, 0 8px 16px rgba(20, 20, 20, 0.8);
  border-radius: 3px;
  color: rgba(34, 34, 34, 0.95);
  padding: 1rem;
  margin-top: 2rem;
} */
.comment-author{
  text-align: left;
  margin: .5rem 0 0 .5rem;
}
/* .comment-card-content{
  padding: 1rem;
  font-size: 1.5rem;
} */
/* .comment-card-date{
  text-align: right;
  color: gray;
  font-size: .8rem;
} */

/* Login Form */
/* .login-section {
  padding: 3rem;
  height: 100%;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* .login-section h1 {
  text-shadow: 1px 1px 4px rgba(34, 34, 34, 0.6);
} */
/* .login-form input {
  margin-top: 1rem;
  padding: 8px;
  height: 3rem;
  width: 20rem;
  border: 1px solid rgb(75, 85, 99);
  border-radius: 6px;
}
.login-button {
  margin-top: 1rem;
} */
/* .signup-link {
  color: rgb(97, 218, 251);
  margin-left: 2px;
  padding: 4px;
}
.signup-link:hover {
  color: rgb(55, 55, 255);
} */
/* Sign Up form */
/* .signup-section {
  padding: 3rem;
  height: 100%;
}
.signup-button {
  margin-top: 1rem;
} */

