.header-item-container {
  min-width: 100%;
  height: 4rem;
  position: sticky;
  top: 0;
  background-color: rgb(10, 10, 35);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  /* box-shadow: 0 6px 5px rgba(0,0,0,.4); */
  z-index: 10;
}
.signup-btn:has(.active) {
  border: 2px solid #646cff;
}
:not(.signup-btn) > .header-item.active{
    border-bottom: 2px solid #646cff;
}
.header-item li {
    padding: 2rem;
}
.header-items-left {
  flex: 6;
  padding-left: 1rem;
}
.header-title-link {
    display: inline-block;
    /* color: rgb(97, 218, 251); */
    width: 20vw;
}
.header-title-link h1 {
  font-family: "Work Sans", sans-serif;
  font-size: large;
  font-weight: 400;
}
.header-title-link:hover{
    color: rgb(55, 55, 255);
}
.header-items-right {
  flex: 3;
  padding-right: 1rem;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  justify-items: flex-end;
}
.header-links-container {
  width: 60%;
  margin-right: 2rem;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
.signup-btn{
  background-color: rgb(32, 32, 244);
  padding: 0.5rem .8rem;
}
 .header-item a:not(.signup-btn) {
  margin-right: 0;
}
.header-item a{
  font-family: Inter, sans-serif;
  font-size:  large;
  font-weight: 400;
  font-style: normal;
  margin-right: 1rem;
  /* color: rgb(97, 218, 251); */
  text-decoration: inherit;
}

.header-item-container .signup-btn li a:hover{ 
  scale: 1.05;
  color: #fff;
 
}
.header-item-container li a:hover {
  color: rgb(55, 55, 255);
}
.profile-div{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 6rem;
  width: 6rem;
  
}
#open-user-menu{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}
.profile-icon{
  justify-self: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}
.menu-container{
  align-items: center;
  display:flex;
  flex-direction: column;
  height: 2rem;
  width: 8rem;
  margin: 0 .5rem;
  
}
.acct-menu {
  align-items: center;
  align-content:center;
  background-color: rgb(212, 211, 211);
  padding: .5rem;
  border-radius: .25rem;

}
.acct-username{
 color:#1a1a1a;
 text-align: center;
}
.logout-btn{
  width: 8rem;

}

/* @media (max-width: 965px) {
  .header-items-left {
    flex: 3;
  }
  .header-items-right{
    flex: 2;
  }
} */

@media screen and (max-width: 835px) {
  .header-item-container {
    height: 8rem;
    min-width: 100%;
    margin: 0;
  }
  .header-links-container {
    width: 90dvw;
    margin-right: 2rem;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
  }
  .header-items-left {
    margin-left: auto;
    flex: 3;
  }
  .header-items-right{
    flex:2;
    width: 50%;
    margin-right: auto;
  } 
  .profile-div{
    width: 2rem;
  }
  .acct-menu .logout-btn{
    width: 10dvw;
    margin: auto;
    font-size: 1.2rem;
    padding: .25rem;
  }
  .logout-btn{
    width: 80%;
  }
}
@media screen and (max-width: 525px) {
  .header-item-container {
    flex-shrink: 0;
  }
}

